<div class="content-inners">
  <!-- Page Header-->
  <header class="page-header">
  <!-- Page Header Navbar-->
  <ul class="nav nav-tabs black" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="HomePageHead" data-toggle="tab" href="" (click)="jumpTagHome('/HomePage','HomePageHead')">HOME</a>
        </li>
    <li class="nav-item" *ngFor="let item of listPagejump" (click)="jumpTag(item)">
        <a class="{{item.defClass}}" id="{{item.headHerfName}}" data-toggle="tab" href="#menu2">{{item.pageTitle}} &nbsp;   <span (click)="delTag(item)" class="badge badge-pill badge-danger">X</span></a>
    </li>
  </ul>
  </header>