<section class="projects no-padding-top">
    <div class="container-fluid">
      <!-- Project-->
      <div class="project">
        <div class="row bg-white has-shadow">
          <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
              <div class="image has-shadow"><img src="./assets/cite/img/flags/16/BG.png" alt="..." class="img-fluid"></div>
              <div class="text">
                <h3 class="h4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">条码移动端应用</font></font></h3><small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum Dolor</font></font></small>
              </div>
            </div>
            <div class="project-date"><span class="hidden-sm-down"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今天凌晨4:24</font></font></span></div>
          </div>
          <div class="right-col col-lg-6 d-flex align-items-center">
            <div class="time"><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 PM </font></font></div>
            <div class="comments"><i class="fa fa-comment-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20</font></font></div>
            <div class="project-progress">
              <div class="progress">
                <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project-->
      <div class="project">
        <div class="row bg-white has-shadow">
          <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
              <div class="image has-shadow"><img src="./assets/cite/img/flags/16/DE.png" alt="..." class="img-fluid"></div>
              <div class="text">
                <h3 class="h4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">核销系统web</font></font></h3><small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum Dolor</font></font></small>
              </div>
            </div>
            <div class="project-date"><span class="hidden-sm-down"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今天凌晨4:24</font></font></span></div>
          </div>
          <div class="right-col col-lg-6 d-flex align-items-center">
            <div class="time"><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 PM </font></font></div>
            <div class="comments"><i class="fa fa-comment-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20</font></font></div>
            <div class="project-progress">
              <div class="progress">
                <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project-->
      <div class="project">
        <div class="row bg-white has-shadow">
          <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
              <div class="image has-shadow"><img src="./assets/cite/img/flags/16/FR.png" alt="..." class="img-fluid"></div>
              <div class="text">
                <h3 class="h4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">银企直连接口</font></font></h3><small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum Dolor</font></font></small>
              </div>
            </div>
            <div class="project-date"><span class="hidden-sm-down"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今天凌晨4:24</font></font></span></div>
          </div>
          <div class="right-col col-lg-6 d-flex align-items-center">
            <div class="time"><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 PM </font></font></div>
            <div class="comments"><i class="fa fa-comment-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20</font></font></div>
            <div class="project-progress">
              <div class="progress">
                <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>