<section class="projects no-padding-top">
  <div class="container-fluid">
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow"><img src="./assets/cite/img/flags/16/BG.png" alt="..." class="img-fluid"></div>
            <div class="text">
              <h3 class="h4">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">操作步骤1</font>
                </font>
              </h3><small>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Lorem Ipsum Dolor</font>
                </font>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow"><img src="./assets/cite/img/flags/16/DE.png" alt="..." class="img-fluid"></div>
            <div class="text">
              <h3 class="h4">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">操作步骤2</font>
                </font>
              </h3><small>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Lorem Ipsum Dolor</font>
                </font>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project-->
    <div class="project">
      <div class="row bg-white has-shadow">
        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
          <div class="project-title d-flex align-items-center">
            <div class="image has-shadow"><img src="./assets/cite/img/flags/16/FR.png" alt="..." class="img-fluid"></div>
            <div class="text">
              <h3 class="h4">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">操作步骤3</font>
                </font>
              </h3><small>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Lorem Ipsum Dolor</font>
                </font>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
